/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2rem 10%; */
  width: 70%;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  margin-top: 2rem;
  width: 70%;

  /* border: 1px solid blue; */
}
nav ul {
  display: flex;
  justify-content: space-between;
}
.pill {
  border-radius: 20px;
  border: 2px solid rgb(93, 93, 93);
  padding: 10px 20px;
  /* width: 100px; */
  text-align: center;
  /* margin: 0 10px; */
  cursor: pointer;
}
ul a {
  text-decoration: none;
  color: #282c34;
}

.pill:hover {
  background-color: rgb(59, 172, 198);
  border-color: rgb(59, 172, 198);
}
